{% extends 'tweets/base.html' %}
{% load static%}
{% block content %}
    <div class="jumbotron jumbotron-fluid" style="background-color:#74B9FF";>
        <h1 class="display-3">Analyse Tweets !!</h1>       
    </div>

       

              <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <form class="card card-sm" method="POST" action="{% url 'search' %}">
                            {% csrf_token %}
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div>
                                <!--end of col-->
                                <div class="col">
                                        {{form.videoname}}
                                </div>
                                <!--end of col-->
                                <div class="col-auto">
                                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                                </div>
                                <!--end of col-->
                            </div>
                        </form>
                    </div>
                    <!--end of col-->
                </div>
 
{% endblock content %}